<div class="lower-grade-feedback">
    <div class="answer-section">
        <h2 class="feedback-message">
            Sorry, incorrect...
        </h2>
        <div class="answer-header">
            The correct answer is:
        </div>
        <div class="answer-box">
            <div class="number-button-answer">
                {{question.validation.valid_response.value}}
            </div>
        </div>
        <div class="next-question">
            <button class="btn btn-success btn-large pull-right" (click)="submit()">
                Try next
            </button>
        </div>
    </div>

    <h2 class="feedback-header">
        Explanation
    </h2>

    <div class="review-box tab-box">
        <div class="tab-box-hd">
            <h4 class="rot-neg-90">review</h4>
        </div>
        <div class="tab-box-bd">
            <div class="renderer-wrapper">
                <div class="section">
                    Count the {{renderOptions?.atom.plural}}. Click each {{renderOptions?.atom.name}} to keep track as you count.
                </div>

                <div class="section">

                    <div class="guide-counting-list">

                        <div class="guide-counting-clickable-image-container" *ngFor="let indexer of atomIndexer| keys">

                            <div class="guide-counting-clickable-image no-select">

                                <div class="guide-counting-image">
                                    <img class="atom-image" [src]="renderOptions?.atom.url">
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="section">
                    How many {{renderOptions?.atom.plural}} are there?
                </div>

                <div class="section">
                    <div class="numberButtonRow">
                        <ng-container *ngFor="let indexer of cardIndexer">
                            <app-card
                                    [cardnum]="indexer"
                                    [selectable]="false"
                            >
                            </app-card>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class = "answer-header">
                You answered:
            </div>
            <div class="">
                {{question.response.value}}
            </div>
        </div>
    </div>

    <div class="solve-box tab-box">
        <div class="tab-box-hd">
            <h4 class="rot-neg-90">solve</h4>
        </div>
        <div class="tab-box-bd">
            Count the {{renderOptions?.atom.name}}s.
            <div class="guide-counting-list">

                <div class="guide-counting-clickable-image-container" *ngFor="let indexer of atomIndexer| keys">

                    <div class="guide-counting-clickable-image no-select">

                        <div class="guide-counting-badge-container">

                            <div class="guide-counting-badge-animation">

                                <div class="guide-counting-badge-number default-cursor"
                                     style="font-size: 116%; transform: translate(-50%, -50%);">
                                    {{atomIndexer[indexer.key]}}
                                </div>

                                <div class="counting-badge-circle" style="width: 46px; height: 46px;">
                                </div>

                            </div>

                        </div>

                        <div class="guide-counting-image">
                            <img class="atom-image" [src]="renderOptions?.atom.url">
                        </div>

                    </div>

                </div>

            </div>
            There are {{question?.validation.valid_response.value}} {{renderOptions?.atom.name}}s
        </div>
    </div>
    <div class="next-question">
        <button class="btn btn-success btn-large" (click)="submit()">
            Try next
        </button>
    </div>
</div>