<div class="hkmp-skilltest-widget container">
    <div class="test-pane">
        <ng-template component-container></ng-template>
    </div>
    <div class="test-right-menu">
        <div class="test-menu-item">
            <div class="item-title ">
                Score
            </div>
            <div class="item-content">
                {{session?.score}}
            </div>
        </div>
        <div class="test-menu-item">
            <div class="item-title">
                Elapsed Time
            </div>
            <div class="item-content">
                {{elapsedTime}}
            </div>
        </div>
    </div>
</div>
