.section {
    font-size: 125%;
}

.section + .section {
    margin-top: 20px;
}

.ordinal-numbers-table.large .ordinal-color-box, .ordinal-numbers-tables.large .ordinal-color-box .ordinal-box-sizing
{
    height: 100px;
    width: 100px;
}

.ordinal-numbers-table .ordinal-color-box {
    border: 2px solid #fff;
}

.ordinal-numbers-table.large .text-block {
    text-align: center;
}

